<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
    <!-- jquery package-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<header>
    <div class="container-nav">
        <h1>book notes</h1>
        <nav>
            <ul>
                <li><a href="/" class="nav-button">Home</a></li>
                <li><a href="/add-book" class="nav-button">Add Book</a></li>
                <li><button class="sort-button" data-sort="rating">Sort by Rating</button></li>
                <li><button class="sort-button" data-sort="name">Sort by Name</button></li>
                <li><button class="sort-button" data-sort="topic">Sort by Topic</button></li>
            </ul>
        </nav>
    </div>
</header>
<body>
